@font-face {
    font-family: 'VelaSans';
    font-weight: 400;
    font-display: swap;
    src: url("./Roboto/Roboto-Regular.ttf") format('truetype');
}

@font-face {
    font-family: 'VelaSans';
    font-weight: 500;
    font-display: swap;
    src: url("./Roboto/Roboto-Light.ttf") format('truetype');
}

@font-face {
    font-family: 'VelaSans';
    font-weight: 600;
    font-display: swap;
    src: url("./Roboto/Roboto-Medium.ttf") format('truetype');
}

@font-face {
    font-family: 'VelaSans';
    font-weight: 700;
    font-display: swap;
    src: url("./Roboto/Roboto-Bold.ttf") format('truetype');
}